.thank-you__body {
    width: 100%;
    background-color: #7DBDA1;
    position: relative;
}

.thank-you__text {
    margin-top: 30px;
    font-size: 19px;
    line-height: 23px;
    font-weight: 900;
    color: white;
}

@media (min-height: 600px) {
    .thank-you__text {
        font-size: 22px;
        line-height: 26px;
    }
}

@media (min-height: 750px) {
    .thank-you__text {
        font-size: 26px;
        line-height: 30px;
    }
}



.thank-you__top-container {
    padding-top: 75px;
    margin-bottom: 0;
}

@media (min-height: 450px) {
    .thank-you__top-container{
        padding-top: 80px;
        margin-bottom: 50px;
    }
}

@media (min-height: 550px) {
    .thank-you__top-container{
        padding-top: 85px;
        margin-bottom: 100px;
    }
}

@media (min-height: 660px) {
    .thank-you__top-container{
        padding-top: 90px;
        margin-bottom: 150px;
    }
}

@media (min-height: 720px) {
    .thank-you__top-container{
        padding-top: 95px;
        margin-bottom: 200px;
    }
}

@media (min-height: 800px) {
    .thank-you__top-container{
        padding-top: 100px;
        margin-bottom: 250px;
    }
}

.thank-you__closing-text {
    font-size: 12px;
    line-height: 15px;
    font-weight: 500;
    color: white;
}

.thank-you-closing-text-link {
    font-weight: 800;
}

.knowMoreLink{
    color: white;
}

.receipt__overlay {
    display: none;
    position: absolute;
    width: 100%;
    top: 65%;
    height: 35%;
    margin: 0 auto;
    background: rgba(248, 248, 248, 0.97);
    box-shadow: 0px -5px 12px rgba(0, 0, 0, 0.15);
}

.thank-you__bottom-container {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}
