.receipt__container {
    margin: 50px;
}

.receipt__title {
    font-size: 20px;
    font-weight: 800;
    line-height: 25px;
}

.receipt__no-spam-text {
    font-size: 10px;
    font-weight: 500;
    line-height: 13px;
    text-decoration-line: underline;
    margin-top: 15px;
    margin-bottom: 30px;
}

.receipt__input {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    background-color: white;
    border: 1px solid #7DBDA1;
    font-size: 14px;
    line-height: 17.5px;
    height: 40px;
    padding-left: 10px;
}

.receipt__input--invalid {
    border: 2px solid red;
}

.receipt__input:focus {
    outline: none;
}

.receipt__button {
    position: absolute;
    width: 142px;
    height: 50px;
    left: 0;
    top: 200px;
}
