<div class="centered-container top-container">
  <img  class="logo" src="../../assets/givt_logo.svg"/>
</div>
<div>
  <div class="page1-margin">
    <div class="centered-container">
      <h1 class="title">Give to {{organisation.name}}</h1>
      <h2 class="subtitle custom-border">{{organisation.goal}}</h2>
      <app-amounts [values]="organisation.amounts" (presetClicked)="setCurrentSelected($event)" (inputModeChanged)="setInputMode($event)" (amountChanged)="saveCustomAmount($event)"></app-amounts>
      <app-receipt></app-receipt>
    </div>
  </div>
  <button (click)="submit()" class="button" [ngClass]="{'button-disabled': mainGiveButtonDisabled}" [disabled]="mainGiveButtonDisabled">Give</button>
</div>
