<form id="payment-form" #myForm="ngForm">
    <div class="donation-common-vertical-margin" [ngSwitch]="this.clientSelectedPaymentMethod">
        <div *ngIf="clientSelectedPaymentMethod == 'card' || clientSelectedPaymentMethod == 'wepay'">
            <div class="input-field">
                <input placeholder="Cardholder name" name= "name" id="name" type="text" 
                [(ngModel)]="fullName" 
                [ngClass]="(name.untouched)?'form-control-custom':(name.invalid && (name.dirty || name.touched)? 'error form-control-custom':'valid form-control-custom')"
                 #name="ngModel"
                required minlength="3" maxlength="26">
                
            </div>
            <mat-progress-spinner [mode]="'indeterminate'" *ngIf="loading$ | async"></mat-progress-spinner>
            <div id="credit-card-iframe"></div>
            <div class="input-field">
                <input placeholder="Postal code" name="zipCode" id="zip" type="text"
                [(ngModel)]="zipCode" 
                #zip="ngModel"
                [ngClass]="(zip.untouched)?'form-control-custom':(zip.errors && (zip.dirty || zip.touched)? 'error form-control-custom':'valid form-control-custom')"
                required
                pattern="[0-9]{5}">
                
            </div>
            <button [disabled]="!myForm.valid" (click)="confirmCardPayment()" class="button button-bottom-payment"
            [ngClass]="myForm.valid ? 'button--green' : 'button--disabled'" >
                {{'Payment.Continue' | translate}}
            </button>
        </div>
    </div>
</form>

