<div class="thank-you-body">
  <div class="backdrop" *ngIf="userWantsReceipt" (click)="closeBackdrop()"></div>
  <div class="centered-container top-container put-margin-bottom">
    <img class="logo" src="assets/givt_logo.svg" />
  </div>
  <div class="centered-container margin-bottom-160">
    <h1 class="thank-you-title">Bedankt voor je donatie aan WWF</h1>
    <p class="thank-you-subtitle">Hier komt een gepersonaliseerde boodschap ter bedanking voor je donatie vanuit de naam van de organisatie die je steunt.  </p>
  </div>
  <div class="centered-container">
    <button class="button" style="background-color: black">download de Givt-app</button>
    <button class="button" style="background-color: white; color: black" (click)="userWantsReceipt=true">Want a receipt?</button>
  </div>
  <div class="centered-container">
    <p class="thank-you-closing-text">Givt biedt u een persoonlijke samenvatting en een overzicht voor je belastingen. Uw belastingaangifte doen was nog nooit zo eenvoudig! <span class="thank-you-closing-text-link">Meer weten?</span></p>
  </div>
  <div class="email-container" *ngIf="userWantsReceipt">
    <app-receipt (emailChanged)="saveEmail($event)" (emailShownChanged)="determineDisabledPropForContinueButton($event)"></app-receipt>
    <button class="button" [ngClass]="{'button-disabled': continueButtonDisabled}" [disabled]="continueButtonDisabled" (click)="submitEmail()">Continue</button>
  </div>
</div>
