.currency-symbol {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 16px;
  background: white;
  border: black 2px solid;
  height: 40px;
  width: 100%;
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 15px;
  color: black;
  margin-bottom: 15px;
  margin-top: 10px;
}

.currency-input {
  background: white;
  height: 40px;
  width: calc(100% - 40px);
  padding-left: 8px;
  border: none;
  border-top: black 2px solid;
  border-bottom: black 2px solid;
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
}

.currency-input:focus {
  outline: none;
}

/* Hide the qrrows from number input field */
/* Chrome, Safari, Edge, Opera */
.currency-input::-webkit-outer-spin-button,
.currency-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
.currency-input[type=number] {
  -moz-appearance: textfield;
}

.presets-title {
  text-align: center;
  font-size: 16px;
  color: #7DBDA1;
}

.choose-amount-container {
  background-color: #F8F8F8;
  padding: 35px 35px;
  margin-top: 65px;
  margin-bottom: 35px;
}

/**------------------------------ Radio Buttons Stylings -------------------------------------------------**/
.presets-container {
  padding: 15px 0 10px;
  display: flex;
  flex-direction: row;
  align-content: center;
  width: 250px;
}

.input-container {
  margin: 0 auto;
}

.container-radio {
  padding: 10px 15px;
  background-color: #BEDED0;
  color: white;
  width: 40px;
  box-sizing: content-box;
  text-align: center;
}

.radio-input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.radio-input:checked + .container-radio{
  background-color: #7DBDA1;
}

.not-shown {
  display: none;
}

.other-amount {
  text-align: center;
  font-size: 11px;
  line-height: 14px;
  text-decoration: underline;
  cursor: pointer;
}
