<div class="choose-amount-container">
  <h2 class="presets-title">give as much as you want</h2>
  <div class="presets-container centered-container" [ngClass]="{'not-shown': customAmountInputShown}">
    <div class="input-container" *ngFor="let widget of values">
      <input class="radio-input" type="radio" name="amount" id="{{widget.id}}" (click)="closeAmount(); itemClickedEvent(widget.id, widget.value)">
      <label class="container-radio" for="{{widget.id}}">{{currencySymbol + ' ' + widget.value}}</label>
    </div>
    <input class="radio-input" type="radio" name="amount" id="none" [checked]="customAmountInputShown">
  </div>

  <div (click)="toggleAmount()" class="other-amount" [ngClass]="{'not-shown': customAmountInputShown}">Choose a different amount</div>

  <div [ngClass]="{'not-shown': !customAmountInputShown}" class="currency-div">
    <span class="currency-symbol">{{this.currencySymbol}}<input type="number" id="custom-amount-input" class="currency-input" (input)="sendAmount($event)"/></span>
  </div>
</div>
