<div class="thank-you__body">
    <div class="util--backdrop" *ngIf="userWantsReceipt" (click)="closeBackdrop()"></div>
    <div class="util--centered-container util--align-center util--margin-bot-30">
        <img class="logo" src="assets/givt_logo.svg" />
    </div>
    <div class="util--centered-container thank-you__title-container">
        <h1 class="thank-you__title">Bedankt voor je donatie aan WWF</h1>
        <p class="thank-you__subtitle">Hier komt een gepersonaliseerde boodschap ter bedanking voor je donatie vanuit de
            naam van de organisatie die je steunt. </p>
    </div>
    <div class="util--centered-container">
        <button class="button button--black">download de Givt-app</button>
        <button class="button button--white" (click)="userWantsReceipt=true">Want a receipt?</button>
    </div>
    <div class="util--centered-container">
        <p class="thank-you__closing-text">Givt biedt u een persoonlijke samenvatting en een overzicht voor je
            belastingen. Uw belastingaangifte doen was nog nooit zo eenvoudig! <span
                class="thank-you-closing-text-link">Meer weten?</span></p>
    </div>
    <div class="email-container" *ngIf="userWantsReceipt">
        <app-receipt (emailChanged)="saveEmail($event)"
            (emailShownChanged)="determineDisabledPropForContinueButton($event)"></app-receipt>
        <button class="button" [ngClass]="{'button--disabled': continueButtonDisabled}"
            [disabled]="continueButtonDisabled" (click)="submitEmail()">Continue</button>
    </div>
</div>