/**------------------------------------------------------------------------------------------------**/
/**----------------------------------------------- Title and subtitle Stylings --------------------**/
.title {
  font-size: 22px;
  font-weight: 800;
}

.subtitle {
  font-size: 12px;
  line-height: 15px;
  margin-bottom: 20px;
}

.page1-margin {
  margin-top: 40px;
  margin-bottom: 20px;
}

.backdrop {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #ABAAAA;
  opacity: .75;
}

.email-container {
  position: relative;
  width: 350px;
  margin: 0 auto;
  background-color: white;
  overflow: auto
}

.donate-button {
  border-radius: 0;
  width: 175px;
  height: 50px;
  transform: translateX(-41%);
}
