<div class="custom-border">
  <div class="choose-amount">
    <input class="radio-input" type="radio" checked="checked" name="amount" id="first" (click)="closeAmount()">
    <label class="container-radio" for="first">€ 3</label>
    <input class="radio-input" type="radio" name="amount" id="second" (click)="closeAmount()">
    <label class="container-radio" for="second">€ 5</label>
    <input class="radio-input" type="radio" name="amount" id="third" (click)="closeAmount()">
    <label class="container-radio" for="third">€ 10</label>
    <input class="radio-input" type="radio" name="amount" id="none" [checked]="amountShown">
  </div>

  <button (click)="toggleAmount()" class="button button-small">Choose a different amount</button>

  <div class="amount-container" [ngClass]="{'not-shown': !amountShown}">
    <span class="currency-symbol">€<input type="number" class="currency-input"/></span>
  </div>
</div>
