.currency-symbol {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 16px;
  border-radius: 12px;
  border: none;
  background: #F8F8F8;
  height: 40px;
  width: 270px;
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 15px;
  color: #ABAAAA;
  margin-bottom: 15px;
}

.currency-input {
  background: #F8F8F8;
  height: 40px;
  width: 318px;
  border-radius: 12px;
  border: none;
  padding-left: 8px;
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
}

.currency-input:focus {
  outline: none;
}

/**------------------------------ Radio Buttons Stylings -------------------------------------------------**/
.choose-amount {
  padding: 15px 0 10px;
  display: flex;
  flex-direction: row;
  justify-items: auto;
}

.container-radio {
  margin: 0 auto;
  padding: 10px 20px;
  align-content: center;
  display: flex;
  flex-direction: column;
  border: 3px solid black;
}

.radio-input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.radio-input:checked + .container-radio{
  background-color: #AE25E3;
}

.not-shown {
  display: none;
}

.button-small {
  width: 75%;
}

.amount-container {
  margin-left: 25px;
}
