.custom-amount__input-container {
    width: 245px;
    margin: 0 auto;
}

.custom-amount__currency-symbol {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 16px;
    background: white;
    border: #7DBDA1 1px solid;
    height: 40px;
    width: 245px;
    font-family: Mulish, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 15px;
    color: black;
    margin-bottom: 15px;
    margin-top: 10px;
    text-align: center;
}

.custom-amount__currency-input {
    background: white;
    height: 40px;
    width: 205px;
    padding-left: 8px;
    border: none;
    border-radius: 0;
    border-top: #7DBDA1 1px solid;
    border-bottom: #7DBDA1 1px solid;
    font-family: Mulish, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
}

.custom-amount__currency-input:focus {
    outline: none;
}

/* Hide the arrows from number input field */
/* Chrome, Safari, Edge, Opera */
.custom-amount__currency-input::-webkit-outer-spin-button,
.custom-amount__currency-input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
/* Firefox */
.custom-amount__currency-input[type="number"] {
    -moz-appearance: textfield;
}

.presets__title {
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    color: #7dbda1;
}

.amount__container {
    background-color: #f8f8f8;
    padding: 35px 35px;
    //margin: 50px 0;
    height: 175px;
}
/*
@media (min-height: 750px) {
    .amount__container {
        margin: 75px 0;
    }
}

@media (max-height: 680px) {
    .amount__container {
        margin-top: 20px;
        margin-bottom: 20px;
    }
}*/

/**------------------------------ Radio Buttons Stylings -------------------------------------------------**/
.presets__container {
    padding: 15px 0 10px;
    display: flex;
    flex-direction: row;
    align-content: center;
    width: 270px;
}

@media (max-width: 318px) {
    .presets__container {
        width: 100%;
    }
}

.util--space-evenly {
    margin: 0 auto;
}

.presets__label {
    padding: 15px 10px;
    background-color: #beded0;
    color: white;
    width: 50px;
    box-sizing: content-box;
    text-align: center;
}

@media (max-width: 280px) {
    .presets__label {
        width: 33%;
    }
}

.presets__hide-input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.presets__hide-input:checked + .presets__label {
    background-color: #7dbda1;
}

.not-shown {
    display: none;
}

.custom-amount__title {
    text-align: center;
    font-size: 11px;
    font-weight: 700;
    line-height: 14px;
    text-decoration: underline;
    cursor: pointer;
}

@media (max-width: 280px) {
    .presets__title {
        font-size: 14px;
    }

    .custom-amount__title {
        font-size: 9px;
    }
}

@media (max-width: 250px) {
    .presets__title {
        font-size: 11px;
    }

    .custom-amount__title {
        font-size: 8px;
    }
}

