/**------------------------------------------------------------------------------------------------**/
/**----------------------------------------------- Title and subtitle Stylings --------------------**/
.header__title {
    font-size: 22px;
    font-weight: 800;
}

.header__subtitle {
    font-size: 12px;
    line-height: 15px;
}

/**** PAYMENT METHOD TILE STYLINGS ******/

.payment-methods-main-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.payment-method__container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.payment-method__tile {
    position: relative;
    width: 75px;
    height: 75px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin: 0 10px;
}

.payment-method__helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.payment-method__image {
    vertical-align: middle;
}

.payment-method__checkmark {
    display: none;
    position: absolute;
    top: -9.5px;
    right: -9.5px;
    background: white;
    border-radius: 50px;
}

.payment-method__hide-input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.payment-method__hide-input:checked + .payment-method__tile {
    border: #7dbda1 2px solid;
}

.payment-method__hide-input:checked + .payment-method__tile > .payment-method__checkmark {
    display: inline-block;
}

/***** Modal stylings ********/
.modal-backdrop {
    background-color: rgba(248,248,248,.8);
    z-index: 2;
}

.error-modal {
    position: relative;
    height: 100px;
    width: 380px;
    z-index: 100;
    background-color: rgba(255,255,255,.9);
    margin: 0 auto;
    top: 55%;
    border-radius: 10px;
    font-family: 'Mulish', sans-serif;
    text-align: center;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
}

.error-text {
    padding: 10px 10px 0;
    font-size: 14px;
    position: relative;
    top: 10px;
}

.modal-button {
    height: 32px;
    width: 150px;
    position: relative;
    top: 20px;
    margin-top: 3px;
}
