<app-logos [logoUrl]="logoUrl"></app-logos>
<div class="util--centered-container" style="margin-top: 100px">
    <mat-progress-spinner [mode]="'indeterminate'" *ngIf="loading$ | async"></mat-progress-spinner>
    <div>
        <div class="header--margin">
            <div class="util--centered-container">
                <h1 class="header__title">{{organisationName}}</h1>
            </div>
        </div>
        <ngx-stripe-payment [elementsOptions]="elementsOptions"></ngx-stripe-payment>
        <button [disabled]="paying" (click)="submitPayment()" type="button" class="util--centered-container button button--payment">submit</button>
    </div>
</div>
