<app-logos [logoUrl]="logoUrl"></app-logos>
<div class="util--centered-container" style="margin-top: 100px">
    <mat-progress-spinner [mode]="'indeterminate'" *ngIf="loading$ | async"></mat-progress-spinner>
    <div>
        <div class="header--margin">
            <div class="util--centered-container">
                <h1 class="header__title">{{organisationName}}</h1>
            </div>
        </div>
        <form id="payment-form">
            <div [ngSwitch]="this.clientSelectedPaymentMethodIndex.toString()">
                <div *ngSwitchCase="0">
                    <div class="form-row">
                        <label for="name">
                            Name
                        </label>
                        <input id="name" name="name" required>
                    </div>
                    <button (click)="confirmBancontactPayment($event)" class="button button--green">
                        Continue to bancontact
                    </button>
                </div>
                <div *ngSwitchCase="1">
                    <div id="payment-element">
                    </div>
                    <button (click)="confirmCardPayment($event)" class="button button--green">
                        Continue
                    </button>
                </div>
                <div *ngSwitchCase="2">
                    <div class="form-row">
                        <div id="ideal-bank-element">
                        </div>
                    </div>
                    <button (click)="confirmIdealPayment($event)" class="button button--green">
                        Continue to iDeal
                    </button>
                </div>
                <div *ngSwitchCase="3">

                </div>
                <div *ngSwitchCase="4">

                </div>
                <div *ngSwitchCase="5">

                </div>
                <div *ngSwitchCase="6">

                </div>
                <div *ngSwitchCase="7">
                    <div id="payment-request-button">
                        <!-- A Stripe Element will be inserted here. -->
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
