<div class="util--centered-container util--align-center util--margin-bot-30">
    <img class="logo" src="assets/givt_logo.svg" />
</div>
<div class="util--centered-container">
    <mat-progress-spinner [mode]="'indeterminate'" *ngIf="loading$ | async"></mat-progress-spinner>
    <div>
        <ngx-stripe-payment [elementsOptions]="elementsOptions"></ngx-stripe-payment>
        <button [disabled]="paying" (click)="submitPayment()" style="width: 100%;" type="button" class="button"
                style="width: 320px">submit</button>
    </div>
</div>
