/**------------------------------------------------ Logo Stylings ---------------------------------**/
.util--align-center {
  text-align: center;
}

.logo {
  display: inline-block;
  margin-top: 40px;
  align-content: center
}
/**------------------------------------------------------------------------------------------------**/
/**------------------------------------------------ Button Stylings -------------------------------**/
.button {
  display: block;
  margin: 20px auto;
  width: 318px;
  height: 50px;
  color: white;
  background-color: #7DBDA1;
  justify-content: center;
  border-style: none;
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
}

.button--white {
  background-color: white;
  color: black;
}

.button--black {
  background-color: black
}

.button--green {
    background-color: #7DBDA1;
}

.button--disabled {
  background-color: #808080;
}

.button--align-left {
    position: absolute;
    width: 175px;
    height: 50px;
}

/************** UTIL STUFF **************/

.util--centered-container {
    display: block;
    margin: auto;
    width: 320px;
}

.util--margin-bot-30 {
    margin-bottom: 30px;
}

.util--full-width {
    width: 100%;
}

@media (min-width: 600px) {
  body {
    width: 550px;
    margin: 0 auto;
  }
}
