/**------------------------------------------------ Logo Stylings ---------------------------------**/
.top-container {
  text-align: center;
}

.logo {
  display: inline-block;
  margin-top: 40px;
  align-content: center
}

.centered-container {
  display: block;
  margin: auto;
  width: 320px;
}

.put-margin-bottom {
  margin-bottom: 30px;
}
/**------------------------------------------------------------------------------------------------**/
/**------------------------------------------------ Button Stylings -------------------------------**/
.button {
  display: block;
  margin: 20px auto;
  width: 318px;
  height: 40px;
  color: white;
  background-color: black;
  justify-content: center;
  border-radius: 12px;
  border-style: none;
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
}

.button-disabled {
  background-color: #ABAAAA;
}

.custom-border {
  border: 3px solid #ABAAAA;
  border-radius: 15px;
}

