// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

$givt-green: (
    50: #ff7f4,
    100: #d8ebe3,
    200: #beded0,
    300: #a4d1bd,
    400: #91c7af,
    500: #7dbda1,
    600: #75b799,
    700: #6aae8f,
    800: #60a685,
    900:  #4d9874,
    A100: #f7fffb,
    A200: #c4ffe2,
    A400: #91ffc9,
    A700: #78ffbc,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$givt-online-checkout-primary: mat.define-palette($givt-green);
$givt-online-checkout-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$givt-online-checkout-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$givt-online-checkout-theme: mat.define-light-theme((
    color: (
        primary: $givt-online-checkout-primary,
        accent: $givt-online-checkout-accent,
        warn: $givt-online-checkout-warn,
    )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($givt-online-checkout-theme);

/**------------------------------------------------ Logo Stylings ---------------------------------**/
.util--align-center {
    text-align: center;
}

.logo {
    display: inline-block;
    margin-top: 40px;
    align-content: center
}

mat-progress-spinner {
    position: absolute;
    top: 20vh;
    left: 50%;
    transform: translate(-50%, -50%);
}

/**------------------------------------------------------------------------------------------------**/
/**------------------------------------------------ Button Stylings -------------------------------**/
.button {
    display: block;
    margin: 20px auto;
    width: 318px;
    height: 50px;
    color: white;
    background-color: #7DBDA1;
    justify-content: center;
    border-style: none;
    font-family: Mulish, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
}

@media (min-height: 700px) {
    .button-bottom-donation {
        position: fixed;
        bottom: 20px;
        left: 50%;
        transform: translateX(-50%);
    }
}

@media (min-height: 550px) {
    .button-bottom-payment {
        position: fixed;
        bottom: 20px;
        left: 50%;
        transform: translateX(-50%);
    }
}

@media (max-width: 318px) {
    .button {
        width: 100%;
    }
}

.button--white {
    background-color: white;
    color: black;
}

.button--black {
    background-color: black
}

.button--green {
    background-color: #7DBDA1;
}

.button--disabled {
    background-color: #808080;
}

/************** UTIL STUFF **************/

.util--backdrop {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.util--centered-container {
    display: block;
    margin: auto;
    width: 320px;
}

@media (max-width: 318px) {
    .util--centered-container {
        width: 100%;
    }
}

.util--margin-bot-30 {
    margin-bottom: 30px;
}

.util--full-width {
    width: 100%;
}

.util--position-absolute {
    position: absolute !important;
}

@media (min-width: 600px) {
    body {
        width: 550px;
        margin: 0 auto;
    }
}

body {
    font-family: Mulish, sans-serif;
    overflow-y: scroll; //if you remove this, the thank-you page will jump around on animations
}
