<div>
    <mat-progress-spinner [mode]="'indeterminate'" *ngIf="loading$ | async"></mat-progress-spinner>
    <div *ngIf="!(loading$ | async)">
        <div class="util--backdrop modal-backdrop" *ngIf="modalOpen" (click)="closeModal()">
            <div class="error-modal">
                <div class="error-text">{{errorText}}</div>
                <button class="button modal-button">OK</button>
            </div>
        </div>
        <app-logos [logoUrl]="organisation.logoLink"></app-logos>
        <div class="content">
            <div class="donation-common-vertical-margin header--margin">
                <div class="util--centered-container">
                    <h1 class="header__title">{{organisation.title}}  - TOREMOVE Stripe edition</h1>
                    <h2 class="header__subtitle">{{organisation.goal}}</h2>
                </div>
                <app-amounts class="donation-common-vertical-margin" [values]="organisation.amounts" [currency]="organisation.currency"
                             (onPresetClick)="setCurrentSelected($event)" (onInputModeChange)="setInputMode($event)"
                             (onAmountChange)="saveCustomAmount($event)"></app-amounts>
            </div>

            <div class="donation-common-vertical-margin" *ngIf="this.callToCanUseWalletDone">
                <div class="payment-method__container">
                    <div *ngFor="let paymentMethod of organisation.paymentMethods">
                        <input class="payment-method__hide-input" type="radio" name="payment-method"
                               id="{{paymentMethod.id}}"
                               (click)="setCurrentSelectedPaymentMethod($event)">
                        <label class="payment-method__tile" for="{{paymentMethod.id}}">
                            <span class="payment-method__helper"></span>
                            <img src="{{paymentMethod.imgLoc}}" class="payment-method__image"
                                 alt="{{paymentMethod.name}}">
                            <img src="assets/vinkje.svg" class="payment-method__checkmark">
                        </label>
                    </div>
                </div>
                <button id="main-button" (click)="submit()" class="button button-bottom-donation"
                        [ngClass]="{'button--disabled': mainGiveButtonDisabled}"
                        *ngIf="this.currentSelectedPaymentMethod?.id == 'applepay' || this.currentSelectedPaymentMethod?.id == 'googlepay'">{{ 'Donate.Give' | translate }}</button>
                <button id="main-button" (click)="submit()" class="button button-bottom-donation"
                        [ngClass]="{'button--disabled': mainGiveButtonDisabled}"
                        *ngIf="this.currentSelectedPaymentMethod?.id != 'applepay' && this.currentSelectedPaymentMethod?.id != 'googlepay'">{{ 'Donate.Continue' | translate }}</button>
            </div>
        </div>
        <div *ngIf="walletPossible" style="visibility: hidden">
            <div id="payment-request-button"></div>
        </div>
    </div>
</div>
